# JetBrains / CLion
.idea/

# CMake
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Compiled files
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.pdb

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store